schema.xml


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="freeStyleProject" type="hudson.model.FreeStyleProject"/>
<xsd:complexType name="hudson.model.FreeStyleProject">
<xsd:complexContent>
<xsd:extension base="hudson.model.Project">
<xsd:sequence/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="hudson.model.Project">
<xsd:complexContent>
<xsd:extension base="hudson.model.AbstractProject">
<xsd:sequence/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="hudson.model.AbstractProject">
<xsd:complexContent>
<xsd:extension base="hudson.model.Job">
<xsd:sequence>
<xsd:element name="concurrentBuild" type="xsd:boolean"/>
<xsd:element name="downstreamProject" type="hudson.model.AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="scm" type="hudson.scm.SCM" minOccurs="0"/>
<xsd:element name="upstreamProject" type="hudson.model.AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="hudson.scm.SCM">
<xsd:sequence>
<xsd:element name="browser" type="hudson.scm.RepositoryBrowser" minOccurs="0"/>
<xsd:element name="type" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.scm.RepositoryBrowser">
<xsd:sequence/>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.Job">
<xsd:complexContent>
<xsd:extension base="hudson.model.AbstractItem">
<xsd:sequence>
<xsd:element name="allBuild" type="hudson.model.Run" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="buildable" type="xsd:boolean"/>
<xsd:element name="build" type="hudson.model.Run" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="color" type="hudson.model.BallColor" minOccurs="0"/>
<xsd:element name="firstBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="healthReport" type="hudson.model.HealthReport" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="inQueue" type="xsd:boolean"/>
<xsd:element name="keepDependencies" type="xsd:boolean"/>
<xsd:element name="lastBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="lastCompletedBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="lastFailedBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="lastStableBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="lastSuccessfulBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="lastUnstableBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="lastUnsuccessfulBuild" type="hudson.model.Run" minOccurs="0"/>
<xsd:element name="nextBuildNumber" type="xsd:int"/>
<xsd:element name="property" type="hudson.model.JobProperty" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="queueItem" type="hudson.model.Queue-Item" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="hudson.model.Queue-Item">
<xsd:complexContent>
<xsd:extension base="hudson.model.Actionable">
<xsd:sequence>
<xsd:element name="blocked" type="xsd:boolean"/>
<xsd:element name="buildable" type="xsd:boolean"/>
<xsd:element name="id" type="xsd:long"/>
<xsd:element name="inQueueSince" type="xsd:long"/>
<xsd:element name="params" type="xsd:string" minOccurs="0"/>
<xsd:element name="stuck" type="xsd:boolean"/>
<xsd:element name="task" type="xsd:anyType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Project to be built.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="url" type="xsd:string" minOccurs="0"/>
<xsd:element name="why" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="hudson.model.Actionable">
<xsd:sequence>
<xsd:element name="action" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.JobProperty">
<xsd:sequence/>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.HealthReport">
<xsd:sequence>
<xsd:element name="description" type="xsd:string" minOccurs="0"/>
<xsd:element name="iconClassName" type="xsd:string" minOccurs="0"/>
<xsd:element name="iconUrl" type="xsd:string" minOccurs="0"/>
<xsd:element name="score" type="xsd:int"/>
</xsd:sequence>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.Run">
<xsd:complexContent>
<xsd:extension base="hudson.model.Actionable">
<xsd:sequence>
<xsd:element name="artifact" type="hudson.model.Run-Artifact" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="building" type="xsd:boolean"/>
<xsd:element name="description" type="xsd:string" minOccurs="0"/>
<xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
<xsd:element name="duration" type="xsd:long"/>
<xsd:element name="estimatedDuration" type="xsd:long"/>
<xsd:element name="executor" type="hudson.model.Executor" minOccurs="0"/>
<xsd:element name="fullDisplayName" type="xsd:string" minOccurs="0"/>
<xsd:element name="id" type="xsd:string" minOccurs="0"/>
<xsd:element name="keepLog" type="xsd:boolean"/>
<xsd:element name="number" type="xsd:int"/>
<xsd:element name="queueId" type="xsd:long"/>
<xsd:element name="result" type="xsd:anyType" minOccurs="0"/>
<xsd:element name="timestamp" type="xsd:long" minOccurs="0"/>
<xsd:element name="url" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="hudson.model.Executor">
<xsd:sequence>
<xsd:element name="currentExecutable" type="xsd:anyType" minOccurs="0"/>
<xsd:element name="currentWorkUnit" type="hudson.model.queue.WorkUnit" minOccurs="0"/>
<xsd:element name="idle" type="xsd:boolean"/>
<xsd:element name="likelyStuck" type="xsd:boolean"/>
<xsd:element name="number" type="xsd:int"/>
<xsd:element name="progress" type="xsd:int"/>
</xsd:sequence>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.queue.WorkUnit">
<xsd:sequence/>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.Run-Artifact">
<xsd:sequence>
<xsd:element name="displayPath" type="xsd:string" minOccurs="0"/>
<xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
<xsd:element name="relativePath" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Relative path name from artifacts root.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="_class" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="hudson.model.AbstractItem">
<xsd:complexContent>
<xsd:extension base="hudson.model.Actionable">
<xsd:sequence>
<xsd:element name="description" type="xsd:string" minOccurs="0"/>
<xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
<xsd:element name="displayNameOrNull" type="xsd:string" minOccurs="0"/>
<xsd:element name="fullDisplayName" type="xsd:string" minOccurs="0"/>
<xsd:element name="fullName" type="xsd:string" minOccurs="0"/>
<xsd:element name="name" type="xsd:string" minOccurs="0"/>
<xsd:element name="url" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="hudson.model.BallColor">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="red"/>
<xsd:enumeration value="red_anime"/>
<xsd:enumeration value="yellow"/>
<xsd:enumeration value="yellow_anime"/>
<xsd:enumeration value="blue"/>
<xsd:enumeration value="blue_anime"/>
<xsd:enumeration value="grey"/>
<xsd:enumeration value="grey_anime"/>
<xsd:enumeration value="disabled"/>
<xsd:enumeration value="disabled_anime"/>
<xsd:enumeration value="aborted"/>
<xsd:enumeration value="aborted_anime"/>
<xsd:enumeration value="notbuilt"/>
<xsd:enumeration value="notbuilt_anime"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
XML API:{
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<freeStyleBuild _class="hudson.model.FreeStyleBuild">
<action _class="hudson.model.CauseAction">
<cause _class="hudson.model.Cause$UpstreamCause">
<shortDescription>
Started by upstream project "Gerrit-verifier-pipeline/46%2F241546%2F4" build number 1
</shortDescription>
<upstreamBuild>1</upstreamBuild>
<upstreamProject>Gerrit-verifier-pipeline/46%2F241546%2F4</upstreamProject>
<upstreamUrl>
job/Gerrit-verifier-pipeline/job/46%252F241546%252F4/
</upstreamUrl>
</cause>
</action>
<action/>
<action _class="hudson.model.ParametersAction">
<parameter _class="hudson.model.StringParameterValue">
<name>REFSPEC</name>
<value>refs/changes/46/241546/4</value>
</parameter>
<parameter _class="hudson.model.StringParameterValue">
<name>BRANCH</name>
<value>607c3f853f4cb489811fa77bfcad7a638fff898e</value>
</parameter>
<parameter _class="hudson.model.StringParameterValue">
<name>MODE</name>
<value>reviewdb</value>
</parameter>
<parameter _class="hudson.model.StringParameterValue">
<name>CHANGE_URL</name>
<value>
https://gerrit-review.googlesource.com/#/c/241546/4
</value>
</parameter>
<parameter _class="hudson.model.StringParameterValue">
<name>TARGET_BRANCH</name>
<value>stable-2.14</value>
</parameter>
</action>
<action/>
<action _class="hudson.plugins.git.util.BuildData">
<buildsByBranchName>
<detached _class="hudson.plugins.git.util.Build">
<buildNumber>46047</buildNumber>
<marked>
<SHA1>607c3f853f4cb489811fa77bfcad7a638fff898e</SHA1>
<branch>
<SHA1>607c3f853f4cb489811fa77bfcad7a638fff898e</SHA1>
<name>detached</name>
</branch>
</marked>
<revision>
<SHA1>607c3f853f4cb489811fa77bfcad7a638fff898e</SHA1>
<branch>
<SHA1>607c3f853f4cb489811fa77bfcad7a638fff898e</SHA1>
<name>detached</name>
</branch>
</revision>
</detached>
</buildsByBranchName>
<lastBuiltRevision>
<SHA1>607c3f853f4cb489811fa77bfcad7a638fff898e</SHA1>
<branch>
<SHA1>607c3f853f4cb489811fa77bfcad7a638fff898e</SHA1>
<name>detached</name>
</branch>
</lastBuiltRevision>
<remoteUrl>https://gerrit.googlesource.com/gerrit</remoteUrl>
<scmName/>
</action>
<action _class="hudson.plugins.git.GitTagAction"/>
<action/>
<action/>
<action/>
<action _class="com.nirima.jenkins.plugins.docker.action.DockerBuildAction"/>
<action/>
<action/>
<building>false</building>
<displayName>#46047</displayName>
<duration>141763</duration>
<estimatedDuration>174977</estimatedDuration>
<fullDisplayName>Gerrit-codestyle #46047</fullDisplayName>
<id>46047</id>
<keepLog>false</keepLog>
<number>46047</number>
<queueId>10303</queueId>
<result>FAILURE</result>
<timestamp>1571320100749</timestamp>
<url>
https://gerrit-ci.gerritforge.com/job/Gerrit-codestyle/46047/
</url>
<builtOn>gcloud64-a4e664f44158</builtOn>
<changeSet _class="hudson.plugins.git.GitChangeSetList">
<item _class="hudson.plugins.git.GitChangeSet">
<affectedPath>Jenkinsfile</affectedPath>
<commitId>bdff807f0733ef12975ec1183e09c5527738bd0b</commitId>
<timestamp>1571319051000</timestamp>
<author>
<absoluteUrl>
https://gerrit-ci.gerritforge.com/user/thomas.draebing
</absoluteUrl>
<fullName>thomas.draebing</fullName>
</author>
<authorEmail>thomas.draebing@sap.com</authorEmail>
<comment>
Don't sort messages returned by Jenkins The sorting of messages Jenkins would send back after verifying a change did not work anymore as it was implemented in the workflow script. This change removes the sorting of the messages. Change-Id: I9cb14308ed354c31fae08e3c7190a7f886f242bf
</comment>
<date>2019-10-17 15:30:51 +0200</date>
<id>bdff807f0733ef12975ec1183e09c5527738bd0b</id>
<msg>Don't sort messages returned by Jenkins</msg>
<path>
<editType>edit</editType>
<file>Jenkinsfile</file>
</path>
</item>
<item _class="hudson.plugins.git.GitChangeSet">
<affectedPath>gerrit-main/src/main/java/Main.java</affectedPath>
<affectedPath>
polygerrit-ui/app/behaviors/gr-change-table-behavior/gr-change-table-behavior_test.html
</affectedPath>
<commitId>607c3f853f4cb489811fa77bfcad7a638fff898e</commitId>
<timestamp>1571319729000</timestamp>
<author>
<absoluteUrl>https://gerrit-ci.gerritforge.com/user/tdraebing</absoluteUrl>
<fullName>Thomas Dräbing</fullName>
</author>
<authorEmail>thomas.draebing@sap.com</authorEmail>
<comment>
[DO NOT MERGE] testing the build pipeline Bump to trigger CI again Change-Id: Iea19da3f107f1189ef664e306ed5b3d021628086
</comment>
<date>2019-10-17 13:42:09 +0000</date>
<id>607c3f853f4cb489811fa77bfcad7a638fff898e</id>
<msg>[DO NOT MERGE] testing the build pipeline</msg>
<path>
<editType>edit</editType>
<file>gerrit-main/src/main/java/Main.java</file>
</path>
<path>
<editType>edit</editType>
<file>
polygerrit-ui/app/behaviors/gr-change-table-behavior/gr-change-table-behavior_test.html
</file>
</path>
</item>
<kind>git</kind>
</changeSet>
</freeStyleBuild>
